* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(210, 208, 208, 0.515);
  border-radius: 15px;
  align-items: center;
  margin: 10px;
}

.nav > img {
  width: 100px;
}

ul {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

li {
  list-style-type: none;
}

.login {
  width: 55px;
}

/* BODY  */

.body {
  margin: 20px;
}

.search {
  margin-bottom: 10px;
}

.top_restaurants {
  margin-left: 10px;
}

/* RESTAURANT CARD */

.res_card {
  background-color: rgb(214, 212, 212);
  border-radius: 15px;
  width: 270px;
  padding: 5px;
  margin: 5px;
  transition: all 0.5s;
}

.res_card > img {
  margin: 5px;
  border-radius: 10px;
}

.res_card:hover {
  background-color: #f9f94c;
  -webkit-box-shadow: 0px 0px 53px -16px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 53px -16px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 53px -16px rgba(0, 0, 0, 0.67);
}

.res_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.adj_res_card_img {
  height: 210px;
}

/* shimmer UI */

.res_card_shi {
  background-color: rgb(214, 212, 212);
  border-radius: 15px;
  width: 200px;
  height: 300px;
  padding: 5px;
  transition: all 0.5s;
  margin: 5px;
}

.res_card_shi:hover {
  background-color: rgb(249, 249, 76);
}
